<div id="o-wrapper" class="o-wrapper">
  <div class="show-wrapper-contact">
    <div class="skinny_wrapper wrapper_padding">

    <h1>Obrigado pela sua mensagem</h1>
    <p>Entrarei em contato em breve!</p>

    </div>
  </div>
</div>
