<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Donizeti Jr</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="js/jquery-3.1.1.min.js"></script>
</head>

<body>

  <div id="o-wrapper" class="o-wrapper">

    <header>
      <div class="o-header">
        <h1 id="main_title">Donizeti Jr</h1>
        <h4 id="subtitle">Estudante   //   Programador   //   Geek</h4>
     </div>
    </header>

    <main class="o-container">
      <span id="c-button--push-right" class="c-button">&#9776;</span>
      <a href="#bottom" id="top"><img src="images/arrow.png" alt="See More" class="see_more"></a>
    </main>
    
  </div>

</body>
</html>
