$background: #fcfaf7;
$dark: rgb(12,12,12);
$light: #b2b7bd;
$highlight: #fc5158;
$border: #e4e7ec;

.show-wrapper-contact {
  background: url(https://static.pexels.com/photos/34088/pexels-photo-large.jpg);
  background-size: cover;
  margin: 1.5em;
  height: 97vh;
  text-align: center;
  background-color: rgb(12,12,12);
   -webkit-background-size: cover;
   background-size: cover;
   display: flex;
   flex-direction: column;
   h1, p {
     color: $background;
   }
}

label {
  font-weight: 700;
  font-size: 1.3em;
  color: #fff;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  border: 1px solid $light;
  background: rgba(white, 0.4);
  font-size: 1.3em;
  width: 100%;
  max-width: 100%;
  height: 2.5em;
  padding: .5em;
  margin: .5em 0 1em 0;
}

textarea {
  min-height: 20em;
}

input[type="submit"], .button {
  outline: none;
  background: $highlight;
  border: 2px solid $highlight;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: none;
    background-color: #fff;;
    color: $dark;
    padding: 1em 2.5em;
    border: none;
  }
}
