$background: #fcfaf7;
$dark: #777;
$light: #b2b7bd;
$border: #e4e7ec;

$new-background: #f1eff2;
$yellow: #efdd88;
$brown: #ffca28;
$highlight: #a7ccd2;

.contact-wrapper {
  margin-top: 10%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.contact-form {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: $brown;
  text-transform: lowercase;
}

.contact-title {
  text-transform:lowercase;
  color: $brown;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  color: $dark;
  border: none;
  background: rgba(white, 0.4);
  font-size: 1.1em;
  width: 100%;
  height: 2em;
  padding: .5em;
  margin: .5em 0 1em 0;
  border-radius: 40px;
  vertical-align: middle;
  box-shadow: 0 10px 15px 0 rgba(22, 46, 79, 0.1);
  &:focus {
    -webkit-outline: none;
    outline: none;
  }
}

.inputs-align {
  display: table;
  width: 100%;
}

.form-inputs {
  width: 45%;
  margin-right: 2.5%;
  vertical-align: middle;
  display: table-cell;
}

textarea {
  min-height: 12em;
}

input[type="submit"] {
  float: left;
  outline: none;
  background-color: transparent;
  border: 1px solid $brown;
  border-radius: 0px;
  color: $brown;
  text-transform: lowercase;

  text-align: center;
  font-size: .9em;
  text-decoration: none;
  padding: .7em 1.2em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 15px 0 rgba(22, 46, 79, 0.1);

  transition: .4s all ease-in-out;
  &:hover {
    border: none;
    background-color: #fff;
    background: #fff;
    color: $dark;
  }
}

.contact-hr {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 620px) {

  input[type="text"], input[type="email"], input[type="password"], textarea {
    height: 2em;
    float: left;
    width: 90%;
  }
  textarea {
    min-height: 10em;
  }

  input[type="submit"] {
    width: 90%;
    font-size: 1em;
  }
  .inputs-align {
    display: block;
  }
  .form-inputs {
    width: 100%;
    display: block;
  }
}
