$background: #fcfaf7;
$dark: rgb(12,12,12);
$light: #b2b7bd;
$highlight: #fc5158;
$border: #e4e7ec;

#main_footer {
  text-align: center;
  color: #fff;
  padding: 7em 8%;
  .footer_links {
    padding: 15px;
    text-transform: uppercase;
    a {
      font-size: 11px;
      font-weight: 700;
      color: rgb(170,148,131);
      border-bottom: 1px solid;
      margin-left: 50px;
    }
    a:hover {
      border-bottom: 2px solid $highlight;
    }
    .facebook-icon:hover {
      border-bottom: 2px solid #0f7bab;
    }
    .twitter-icon:hover {
      border-bottom: 2px solid #8EC0E4;
    }
    .github-icon:hover {
      border-bottom: 2px solid #fff;
    }
  }

  .copyright, .copyright-articles {
    font-size: .9em;
    margin-left: 50px;
  }
  .copyright {
    color: #fff;
  }
  .copyright-articles {
    color: $dark;
  }
}

@media all and (min-width: 480px) {
  .footer {
    padding: 24px 0;
  }
}
@media all and (min-width: 720px) {
  .footer {
    padding: 48px 0;
  }
}
