$background: #fcfaf7;
$dark: rgb(12,12,12);
$light: #b2b7bd;
$highlight: #fd999a;
$border: #e4e7ec;

#main_footer {
  text-align: center;
  color: #fff;
  padding: 7em 8%;
  .footer_links {
    padding: 15px;
    text-transform: uppercase;
    a {
      vertical-align: middle;
      font-size: .8em;
      font-weight: 700;
      color: rgb(170,148,131);
      border-bottom: 1px solid;
      margin-left: 2em;
    }
    a:hover {
      border-bottom: 2px solid $highlight;
    }
    .facebook-icon:hover {
      border-bottom: 2px solid #0f7bab;
    }
    .twitter-icon:hover {
      border-bottom: 2px solid #8EC0E4;
    }
    .github-icon:hover {
      border-bottom: 2px solid #fff;
    }
  }
  .footer-icons {
    display: none;
   }

  .copyright, .copyright-articles {
    font-size: .9em;
  }
  .copyright {
    color: #fff;
  }
  .copyright-articles {
    color: $dark;
  }
}

@media all and (min-width: 480px) {
  .footer {
    padding: 24px 0;
  }
}
@media all and (min-width: 720px) {
  .footer {
    padding: 48px 0;
  }
}

@media all and (max-width: 600px) {
  #main_footer {
    margin: 1em;
    padding: 0;
    .footer_links {
      display: none;
    }
    .footer-icons {
      display: inline;
      letter-spacing: .5em;
      margin-left: .5em;
      font-size: 1.3em;
      a {
         color: rgb(170,148,131);
      }
   }
    .copyright-articles {
      margin-top: 1em;
      min-width: 50px;
      font-size: .7em;
    }
  }
}
