$background: #fcfaf7;
$dark: #777;
$light: #b2b7bd;
// $highlight: #fd999a;
$highlight: #c580bc;
$border: #e4e7ec;

.article-header {
  background: linear-gradient(to left, #e8c3fd , #86c5fc);
}

.project-header {
  background: linear-gradient(to left, #DD5E89 , #F7BB97);
}

.article-header, .project-header {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  font-size: 0.4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

@media screen and (min-width: 1000px) {
  .article-header, .project-header {
      height: 40vh;
  }
}

@media screen and (max-width: 250px) {
  .article-header, .project-header {
      font-size: 1em;
      color: $highlight;
  }
}

.posts_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          background: linear-gradient(to left, #e8c3fd, #86c5fc);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
    hr {
      margin: 3em auto;
      border-color: #86c5fc;
    }
  }
  .project {
    h2 {
      a {
        &:hover {
          background: linear-gradient(to left, #DD5E89 , #F7BB97);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
  }
}

#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// - - - - - - - - - - - - Posts Show - - - - - - - - - - - - -  //

  #post_show_content {
    font-family: 'Raleway', sans-serif;
    header {
      text-align: center;
      .date {
        font-size: .9em;
        color: $light;
        margin: 0;
      }
      h1 {
        margin: 0;
      }
    }
    hr {
      margin: 2em auto;
    }
  }

  .project_button {
    background-image: linear-gradient(to left, #fd999a,#f09d9d);
    outline: none;
    border: none;
    text-align: center;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: .8em 1.5em;
    border-radius: 40px;
    font-weight: bold;
    box-shadow: 0 10px 15px 0 rgba(22, 46, 79, 0.1);
    cursor: pointer;
    transition: .4s all ease-in-out;
  &:hover {
    border: none;
    background-color: #fff;;
    color: $dark;
  }
  }


#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
      color: $highlight;
      cursor: pointer;
    }
  }
}

#content {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $dark;
}

// - - - - - - - - - - - - Pagination - - - - - - - - - - - - - //

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .7em 1em;
    margin: 0 .5em;
    border: 1px solid $dark;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      font-size: .8em;
      background: $highlight;
      border: $highlight;
      color: #fff;
    }
  }
  .current{
    border: none;
    background: $highlight;
    color: #fff;
  }
  .disabled {
    border: none;
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
    }
  }
}
