$background: #fcfaf7;
$dark: #777;
$light: #b2b7bd;
// $highlight: #fd999a;
$highlight: #c580bc;
$border: #e4e7ec;

.article-header, .project-header {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  font-size: 0.4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

@media screen and (max-width: 250px) {
  .article-header, .project-header {
      font-size: 1em;
      color: $highlight;
  }
}

.posts_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: #ffca28;
        }
      }
    }
    hr {
      margin: 3em auto;
      border-color: #ffca28;
    }
  }
  .project {
    h2 {
      a {
        &:hover {
         color: #ffca28;
        }
      }
    }
    hr {
      border-color: #ffca28;
    }
  }
}

#admin_links {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: $light;
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// - - - - - - - - - - - - Posts Show - - - - - - - - - - - - -  //

  .project_button {
    padding: 1.4em;
    outline: none;
    background-color: transparent;
    border: 1px solid #ffca28;
    border-radius: 0px;
    color: #ffca28;
    text-transform: lowercase;
    text-align: center;
    font-size: .9em;
    text-decoration: none;
    padding: 1.4em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    transition: .3s all ease-in-out;
    &:hover {
      border-color: transparent;
      background-color: #fff;;
      color: $dark;
      box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    }
  }


#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
      color: $highlight;
      cursor: pointer;
    }
  }
}

#content {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $dark;
}

#post_show_content {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  &.wrapper {
    width: 90%;
    @media screen and (max-width: 620px) {
      width: 95%;
    }
  }
  &.wrapper_padding {
    padding: 7rem;
    @media screen and (max-width: 620px) {
      padding: 2rem;
    }
  }
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }
  hr {
    margin: 2em auto;
  }
}

// - - - - - - - - - - - - Pagination - - - - - - - - - - - - - //

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .7em 1em;
    margin: 0 .5em;
    border: 1px solid $dark;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      font-size: .8em;
      background: $highlight;
      border: $highlight;
      color: #fff;
    }
  }
  .current{
    border: none;
    background: $highlight;
    color: #fff;
  }
  .disabled {
    border: none;
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
    }
  }
}
