$background: #fcfaf7;
$dark: #777;
$light: #b2b7bd;
// $highlight: #fd999a;
// $highlight: #c580bc;
$border: #e4e7ec;

$new-background: #f1eff2;
$yellow: #efdd88;
$brown: #8e7978;
$highlight: #a7ccd2;


h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.345rem;
}

h6 {
  font-size: 1.2rem;
}

p, li {
  font-size: 1.6em;
  line-height: 1.618;
}

p, ul, ol {
  margin: 0 0 1.5em;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.notice, .alert {
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid $border;
}

hr {
  width: 3.5em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}


.col-1, .col-2, .col-3 {
  min-width: 220px;
  float: left;

  display: inline-block;
  vertical-align: top;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    color: #8e7978;
    font-size: 1.1rem;
    text-transform: lowercase;;
  }
  h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .5em;
    a {
      text-decoration: none;
      color: $brown;
      &:hover {
        color: $highlight;
      }
    }
  }
  .date {
    font-size: .85em;
    margin-bottom: 2em;
    color: $highlight;
  }
  p {
    color: $brown;
    font-weight: 700;
    margin: 0 0 0.75 0;
  }
}
.about {
  color: #fff;
  padding: 0 7.5% 0 0;
  a {
    color: $highlight;
    font-weight: 700;
    text-decoration: none;
  }
}

/* - - -- - - - - - Show texts pages - - - - -  - - -*/


.show-wrapper-home {
  background-size: cover;
  margin: 1.2em;
  background-image: linear-gradient(rgba($new-background, 1) 25%, rgba($yellow, 1));
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.posts {
  background-color: #fff;
}

.show-wrapper {
  background-color: #fff;
  margin: 1.2em;
}

@media (max-width: 600px) {
   .show-wrapper-home, .show-wrapper {
      margin: 0.6em;
   }
}

.page_title {
  color: #fff;
  margin-bottom: 3em;
  margin-top: 3em;
  text-align: center;
  font-size: 7em;
  font-weight: 700;
}

.page-category {
  padding: 1em;
  margin: 1em;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;

  text-transform: uppercase;
}

.white-background {
    color: $dark;
}
