@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";

$background: #fcfaf7;
$dark: #777;
$light: #b2b7bd;
// $highlight: #fd999a;
// $highlight: #c580bc;
$border: #e4e7ec;

$black: #090707;
$new-background: #f1eff2;
$yellow: #efdd88;
$brown: #ffca28;
$highlight: #a7ccd2;

$break-small: 620px;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #a8cdd3;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  color: $dark;

  opacity: 1;
  transition: 3s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

h1, h2, .navigation__link {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: lowercase;;
  letter-spacing: 1px;
}

/* - - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - */

.wrapper {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 620px) {
    width: 92%;
  }
}

.skinny_wrapper {
  width: 75%;
  max-width: 760px;
  min-width: 220px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0rem;
}

/* - - - - - - - - - - - - - - Container - - - - - - - - - - - */

.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
  .see_more {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    &:hover {
      color: black;
      width: 35px;
      height: 35px;
    }
  }
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}


/* - - - -  - - - - - - - - - - First Header - - -  - - - -  - - - */

.o-header {
  height: 75vh;
  max-width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $break-small) {
  .normal_title {
    display: none;
  }
}

@media screen and (min-width: $break-small) {
  .small_title {
    display: none;
  }
}

#main_title {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 8em;
  color: $brown;
  text-transform: lowercase;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@media all and (max-width: $break-small) {
  #main_title {
    font-size: 1.5em;
  }
}



@import 'styles';
@import 'side-menu';
@import 'post_projects';
@import 'pygments';
@import 'contact';
@import 'footer';
