@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";

$background: #fcfaf7;
$dark: rgb(0,0,0);
$light: #b2b7bd;
$highlight: #fd999a;
$border: #e4e7ec;

$break-small: 620px;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.8;

  opacity: 1;
  transition: 3s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/* - - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  min-width: 220px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0rem;
}

/* - - - - - - - - - - - - - - Container - - - - - - - - - - - */

.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
  .see_more {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    &:hover {
      color: black;
      width: 35px;
      height: 35px;
    }
  }
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}


/* - - - -  - - - - - - - - - - First Header - - -  - - - -  - - - */

.o-header {
  background-image: linear-gradient(rgba(12,12,12, 0.4), rgba(12,12,12, 1)),
                     asset-data-url("home-portfolio.jpg");
  height: 100vh;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $break-small) {
  .normal_title {
    display: none;
  }
}

@media screen and (min-width: $break-small) {
  .small_title {
    display: none;
  }
}

#main_title {
  font-weight: bold;
  font-size: 8em;
  font-family: 'Abril Fatface', cursive;
  color: $background;
  // font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-align: center;
}

@media all and (max-width: $break-small) {
  #main_title {
    font-size: 1.5em;
  }
}



@import 'styles';
@import 'side-menu';
@import 'post_projects';
@import 'pygments';
@import 'contact';
@import 'footer';
