@import 'normalize';

$background: #fcfaf7;
$dark: rgb(0,0,0);
$light: #b2b7bd;
$highlight: #fc5158;
$border: #e4e7ec;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.8;

  opacity: 1;
  transition: 3s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/* - - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0rem;
}

.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

/* - - - - - - - - - - - - - - Container - - - - - - - - - - - */

.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
  .see_more {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    &:hover {
      color: black;
      width: 35px;
      height: 35px;
    }
  }
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}

/* - - - - -  - - - - - - - - - Material Design - -  - - -  - - -  */

#main_navigation {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
  padding: 1em 5%;
  nav {
    float: right;
    padding-top: 1.5rem;
    .navigation__link {
      color: #fff;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
    }
    #sign-out {
      color: pink;
    }
  }
}

.mdl-layout__drawer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0, 0.3)),
              url(https://images.unsplash.com/photo-1472865746841-45afd782314f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=3133dfb7ee01616f5d69cd0ed969b2f4);
  background-size: cover;
  border: none;
  align-items: center;
  width: 35%;
  transform: translateX(-700px);
  .mdl-navigation {
    text-align: center;
    .mdl-navigation__link {
      font-size: 2.5em;
      margin: .6em;
      color: #fff;
      &:hover {
        border: none;
        background-color: transparent;
        color: $highlight;
      }
    }
    .first_link {
      margin-top: 5em;
    }
  }
  .social-icons {
    margin-left: 5em;
    i {
      color: $background;
      font-size: 25px;
      padding-top: 8em;
      letter-spacing: 2.5em;
      &:hover {
        color: $highlight;
      }
    }
  }
}

/* - - - -  - - - - - - - - - - First Header - - -  - - - -  - - - */

.o-header {
  background: linear-gradient(rgba(12,12,12, 0.4), rgba(12,12,12, 1)),
              url(https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=456716294dcad188cee6570aa12d2b65);
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main_title, #subtitle {
  color: $background;
}

#main_title {
  border: .8px solid;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 4px;
	padding: .1em 1.2em;
}

#subtitle {
  letter-spacing: 6px;
  font-size: 1.2em;
  font-weight: 300;
}

@media all and (min-width: 480px) {
  .o-header__title {
    margin: 36px;
    font-size: 42px;
  }
}

#page_title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

#top {
  font-size: 10px;
}

.project_button {
  background: $highlight;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper {
  margin: 4em 0 0 0;
  text-align: center;
}

@import 'styles';
@import 'post_projects';
@import 'pygments';
@import 'contact';
@import 'footer';
