@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";

$background: #fcfaf7;
$dark: rgb(0,0,0);
$light: #b2b7bd;
$highlight: #fc5158;
$border: #e4e7ec;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.8;

  opacity: 1;
  transition: 3s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/* - - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  min-width: 220px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0rem;
}

/* - - - - - - - - - - - - - - Container - - - - - - - - - - - */

.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
  .see_more {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 30px;
  }
  img {
    width: 30px;
    height: 30px;
    &:hover {
      color: black;
      width: 35px;
      height: 35px;
    }
  }
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}


/* - - - -  - - - - - - - - - - First Header - - -  - - - -  - - - */

.o-header {
  background: linear-gradient(rgba(12,12,12, 0.4), rgba(12,12,12, 1)),
              url(https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=456716294dcad188cee6570aa12d2b65);
  height: 100vh;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main_title, #subtitle {
  color: $background;
}

#main_title {
  border: .8px solid;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 4px;
	padding: .1em 1.2em;
}

#subtitle {
  letter-spacing: 6px;
  font-size: 1.2em;
  font-weight: 300;
}

@media all and (max-width: 600px) {
  #main_title {
    font-size: 1.5em;
  }
  #subtitle {
    font-size: .5em;
    letter-spacing: .5em;
  }
}



@import 'styles';
@import 'side-menu';
@import 'post_projects';
@import 'pygments';
@import 'contact';
@import 'footer';
