$button-width: 35px;                    // The width of the button area
$button-height: 66px;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 5px;                      // The left/right padding between button area and bars.
$button-bar-space: 5px;                // The spacing between button bars
$button-transition-duration: 0.2s;     // The transition duration

$break-small: 620px;

.menu-open, .menu-close {
  position: fixed;
  margin: 1.5em;
}

@media (max-width: $break-small) {
  .menu-open, .menu-close {
    top: 0;
    margin-right: 10px;
  }
}

.navbar {
  // background-image: linear-gradient(#fd999a,#f09d9d);
  // background-image: linear-gradient(-144deg, #a9b8cc, #c3c1dd, #c580bc, #9cbac6);
  background-color: rgba(#c580bc, .9);

  -webkit-background-size: cover;
  background-size: cover;

	margin: 0;
  left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: -100%;

	transition: top 0.2s ease-out;
  .links {
    text-align: center;
    list-style: none;
    .navigation__link {
      width: 100%;
      position: relative;
      top: 4em;
      line-height: 3em;
      text-align: center;
      color: #fff;
      text-decoration: none;
      margin: 0 1em;
      font-size: 37.6px;
      font-weight: bold;
      &:hover {
        text-decoration: line-through;
        text-shadow: 5px 5px black;
      }
    }
    #sign-out {
      font-size: 1.2em;
      color: pink;
    }
	}
}

.hide-menu {
  top: -100%;
}

@media (max-width: $break-small) {
  .navbar {
    background: none;
    // background-color: #fff;
    background-color: rgba(#c580bc, .9);

    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    cursor: default;

    transition: opacity .4s ease;
    .links {
      list-style: none;
      .navigation__link {
        top: 2em;
        // color: #000;
        color: #fff;
        text-transform: none;
        font-size: 1.4em;
        font-weight: bold;
      }
    }
  }
  .hide-menu {
      opacity: 0;
  }
}

.menu-ativo {
	.navbar {
      pointer-events: all;
      cursor: pointer;
      zoom:1;
      filter: alpha(opacity=100);
      opacity: 1;
	   left: 0;
       top: 0;
	   }
	&:after {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(black, 0.6);
	}
}

.menu-open {
  z-index: 999;
  background-color: transparent;
  overflow: hidden;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  border: none;
  cursor: pointer;
  transition: background $button-transition-duration;
}

.menu-open:focus {
  outline: none;
}

.menu-open span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: rgb(255,255,255);
}

.menu-open span::before,
.menu-open span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}


.menu-open span::before {
  top: -$bar-thickness - $button-bar-space;
}

.menu-open span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

.menu-open--htx span {
  transition: background 0s 0.2s;
}

.menu-open--htx span::before,
.menu-open--htx span::after {
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}

.menu-open--htx span::before {
  transition-property: top, transform;
}

.menu-open--htx span::after {
  transition-property: bottom, transform;
}

.menu-open--htx.is-active span {
  background: none;
}

.menu-open--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-open--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-open--htx.is-active span::before,
.menu-open--htx.is-active span::after {
  transition-delay: 0s, $button-transition-duration;
}


@media (max-width: 600px) {
  .menu-open--htx.is-active span::before,
  .menu-open--htx.is-active span::after  {
    background-color: #fff;
  }
}
